html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  user-select: none;
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
canvas {
  display: block;
}
body {
  touch-action: none;
}

